@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/


main{

    margin: 0px 300px;
    height: auto;
    /* background-color: rgb(29, 125, 209); */
}

#cards{
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

#add-btn{
    height: 75px;
    width: 75px;

    position: fixed;
    bottom: 50px;
    right: 50px;



    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgba(200, 200, 200, 1),
    0px 0px 35px rgba(0, 0, 0, .1);

    border: none;
    border-radius: 50%;

    outline:none;
    user-select: none;
    cursor: pointer;

    /* How to remove blue highlight when tapping links in mobile */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    transition: all 0.3s ease;
}

#add-btn:hover{
    bottom: 45px;

    box-shadow: 0px 0px 0px rgba(200, 200, 200, 0),
    0px 0px 35px rgba(0, 0, 0, .1);

    transition: all 0.3s ease;
}

#add-btn img{

    margin-top: 0px;
    margin-left: 0px;

    /* per ferli la shadow al svg */
    /* filter: drop-shadow( 0px 0px 15px rgba(0, 0, 0, 0.5)); */
}

#add-btn:hover img{
    transform: rotate(180deg);

    transition: all 0.4s ease;
}


/*--------------------------------------------------------------
# Template
--------------------------------------------------------------*/


.to-do{
    user-select: none;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin: 30px;
    border: 2px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0px 0px 0px rgba(200, 200, 200, 0),
    0px 0px 35px rgba(0, 0, 0, .05);
}
.to-do-h2{
    color: #000;
    margin: 10px 15px;
    font-size: 22px;
    font-weight: 600;
}


/*--------------------------------------------------------------
@Media Quiery - Portatil
--------------------------------------------------------------*/


@media screen and (max-width: 1440px) {


    /*--------------------------------------------------------------
    # Main
    --------------------------------------------------------------*/
    main{
        margin: 0px 100px;    
    }

}


/*--------------------------------------------------------------
@Media Quiery - PC Small Screen
--------------------------------------------------------------*/


@media screen and (max-width: 1200px) {


    /*--------------------------------------------------------------
    # header - PC Small Screen
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - Tablet
--------------------------------------------------------------*/


@media screen and (max-width: 1024px) {


    /*--------------------------------------------------------------
    # header - Tablet
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - Mobile
--------------------------------------------------------------*/


@media screen and (max-width: 576px) {


    /*--------------------------------------------------------------
    # header - Mobile
    --------------------------------------------------------------*/


}