@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

h1{
    width: 100%;
    margin: 30px 0px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: solid 2px rgba(200, 200, 200, 0.3);
}

main{
    display: flex;
    justify-content: center;

    height: auto;
    /* background-color: rgb(29, 125, 209); */
}

#cards{
    display: flex;

    padding: auto ;
    display: flex;
    flex-wrap: wrap;
    width: 1080px;
}

#add-btn{
    height: 75px;
    width: 75px;

    position: fixed;
    bottom: 50px;
    right: 50px;



    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgba(200, 200, 200, 1),
    0px 0px 35px rgba(0, 0, 0, .1);

    border: 2px solid rgba(200, 200, 200, 0.0);
    border-radius: 50%;

    outline:none;
    user-select: none;
    cursor: pointer;

    /* How to remove blue highlight when tapping links in mobile */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    transition: all 0.3s ease;
}

#add-btn:hover{
    bottom: 45px;
    border: 2px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0px 0px 0px rgba(200, 200, 200, 0),
    0px 0px 35px rgba(0, 0, 0, .1);

    transition: all 0.3s ease;
}

#add-btn img{

    margin-top: 0px;
    margin-left: 0px;

    /* per ferli la shadow al svg */
    /* filter: drop-shadow( 0px 0px 15px rgba(0, 0, 0, 0.5)); */
}

#add-btn:hover img{
    transform: rotate(180deg);

    transition: all 0.4s ease;
}


/*--------------------------------------------------------------
# Template
--------------------------------------------------------------*/


.to-do{
    user-select: none;
    border-radius: 5px;
    width: 300px;
    height: auto;
    margin: 30px;
    border: 2px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, .05);
    transition: 0.2s ease-in;
}

.to-do:hover{
    border: 2px solid rgba(200, 200, 200, 0.6);
}

.to-do-h2{
    color: #000;
    padding: 10px 15px 10px 10px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px 5px 0px 0px;
}

.to-do-p{
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    padding: 10px 15px 10px 15px;
}

p:empty:not(:focus)::before {
    content: attr(data-placeholder);
    opacity: 1;
    transition: 0.2s ease-in;
}

p:attr(data-placeholder):focus {

    opacity: 0;
}


.post-it{
    user-select: none;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin: 30px;
    border: 2px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, .05);
}

.post-it-h2{
    color: #000;
    padding: 10px 15px 10px 10px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px 5px 0px 0px;
}

.post-it-p{
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    padding: 10px 15px 10px 15px;
}

/*--------------------------------------------------------------
@Media Quiery - Portatil
--------------------------------------------------------------*/


@media screen and (max-width: 1440px) {


    /*--------------------------------------------------------------
    # Main
    --------------------------------------------------------------*/

}


/*--------------------------------------------------------------
@Media Quiery - PC Small Screen
--------------------------------------------------------------*/


@media screen and (max-width: 1200px) {


    /*--------------------------------------------------------------
    # header - PC Small Screen
    --------------------------------------------------------------*/

    #cards{
        justify-content: center;
    }
}


/*--------------------------------------------------------------
@Media Quiery - Tablet
--------------------------------------------------------------*/


@media screen and (max-width: 1024px) {


    /*--------------------------------------------------------------
    # header - Tablet
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - Mobile
--------------------------------------------------------------*/


@media screen and (max-width: 576px) {


    /*--------------------------------------------------------------
    # header - Mobile
    --------------------------------------------------------------*/


}